{
    "appenders": {
      "access": {
        "type": "dateFile",
        "filename": "log/access.log",
        "pattern": "-yyyy-MM-dd",
        "category": "message"
      },

      "errorFile": {
        "type": "file",
        "filename": "log/errors.log"
      },
       
      "errors": {
        "type": "logLevelFilter",
        "level": "ERROR",
        "appender": "errorFile"
      }
    },
    
    "categories": {
      "default": { "appenders": [ "errors" ], "level": "DEBUG" },
      "message": { "appenders": [ "access"], "level": "INFO" }
    }
  }